
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/styles.css">

     <title>Personal Resume</title>

  
</head>

  <body>
    <div>
      <a class="navbar-brand" href="#">
        <img src="images/zuri.png" alt="..." height="90">
      </a>
    </div>

    <div id="page-wrap">
    
        <img src="images/pp.jpg" alt="Photo of Binitie William" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">Binitie William Eyimofe </h1>
        
            <p>
                Cell: <span class="tel"> 07053832048 </span><br />
                Email: <a class="email" href="mailto:binitiewilliam0511@gmail.com">binitiewilliam0511@gmail.com</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                I am an outgoing and energetic (ask anybody) young professional, seeking a 
                career that fits my professional skills and personality.
                A well principled individual. Focused and driven in attaining goals. A leader and team player that enjoys the success of teamwork and the euphoria of getting things done right. Driven by the philosophy that “The day man stops learning is the day that he dies”. Hence, an addicted learner.  
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd>
                <h2>University of Lagos </h2>
                <p><strong>Major:</strong> Bachelor of Science in Materials Science and Engineering (In view)<br />
                   
            </dd>
            <dd>
              <h2>Udemy</h2>
              <p>The Complete 2020 Web Development Bootcamp<br />
                 
          </dd>
          <dd>
            <h2>Babington Macaulay Junior Seminary </h2>
            <p>West Africa Senior School Certificate (SSCE)<br />
               
        </dd>
            
            
            <dd class="clear"></dd>
            
            <dt>Skills</dt>
            <dd>
                <h2>Office skills</h2>
                <p>Office and records management, database administration, event organization, customer support, travel coordination</p>
                
                <h2>Computer skills</h2>
                <p>Microsoft productivity software (Word, Excel, etc), Adobe Creative Suite, Windows, AUTOCAD, HTML, Python, Git, JavaScript(NodeJS), CSS   </p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
                <h2>NETCO <span>Materials Designer Intern 07/2019 – 12/2019
                  Lagos, Nigeria</span></h2>
                <ul>
                    <li>Prepared of data sheets and technical specifications.</li>
                    <li>Drawing of typical installation details for a cathodic protection system using
                      AutoCAD design software.</li>
                    <li>Designed Impressed current Cathodic Protection system and the creation of
                      spreadsheets to calculate necessary parameters</li>
                    <li>Created spreadsheets and documents to execute the coating of external surfaces
                      of all buried pipeline, aboveground piping and equipment to mitigate these
                      facilities against corrosion.</li>
                </ul>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Certificates</dt>
            <dd><a href="https://drive.google.com/file/d/13oC9kzRKV9pnENFOqjgAsJCHcgAHqDjR/view?usp=sharing">The Complete 2020 Web Development Bootcamp</a></dd>
            
            <dd class="clear"></dd>
            
            <dt>References</dt>
            <dd>Available on request</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>
    <div class="container">
      <h1>Contact Me</h1>
      <form class="" action="/submit" method="post" onsubmit="return validateForm()" >
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email"  name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">I'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Full Name</label>
          <input type="fullName"  name="fullName" class="form-control" id="exampleInputPassword1" placeholder="Full Name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by BW</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
